<h1>My tasks</h1>

<% @tasks.each do |task| %>
     <% if task.completed %>
     <h2><input type="checkbox" checked/>  <%= task.title %></h2>
     <% else %>
     <h2><input type="checkbox"/>  <%= task.title %></h2>
     <% end %>
<% end %>
<br>
