<h1>My tasks</h1>

<% @tasks.each do |task| %>
     <% if task.completed %>
     <h2><input type="checkbox" checked/>  <%= link_to task.title, task_path(task) %> </h2>
     <% else %>
     <h2><input type="checkbox"/> <%= link_to task.title, task_path(task) %> </h2>
     <% end %>
<% end %>
<br>
